@{
    ViewBag.Title = "DoctorHome";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>

@Html.Hidden("Get", Url.Action("Get", "Customer"))
<script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>

@Html.Hidden("Getmessages", Url.Action("Getmessages", "Customer"))
<input type="hidden" id="trigger" value="0" />
<input type="hidden" id="triggercount" value="0" />
@Html.Hidden("Get1", Url.Action("Get1", "Customer"))

<input type="hidden" id="trigger1" value="0" />
<input type="hidden" id="triggercount1" value="0" />

<div class="page doctor-home-v2">

    <div class="dh2-header">
        <div>
            <div class="dh2-title">Dashboard</div>
            <div class="dh2-sub">Welcome</div>
        </div>
        <div class="dh2-date">@DateTime.Now.ToString("dd/MM/yyyy")</div>
    </div>

    <div class="dh2-tiles">

        @* Medical Services *@
        @if (Session["Medical_Services"] != null && int.Parse(Session["Medical_Services"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("ClaimServices","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-heart-pulse"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Medical Services</div>
                    <div class="dh2-desc">Enter medical services module</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* ClaimForm Approved *@
        @if (Session["ClaimForm_Approved"] != null && int.Parse(Session["ClaimForm_Approved"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("ProviderClaimFormApproved","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-check2-circle"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">ClaimForm Approved</div>
                    <div class="dh2-desc">Approved claims dashboard</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Approval *@
        @if (Session["Approval"] != null && int.Parse(Session["Approval"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("Approval","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-clipboard-check"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Approval</div>
                    <div class="dh2-desc">Approvals management</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Chronic Approval *@
        @if (Session["Approval"] != null && int.Parse(Session["Approval"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("Chronic_Approvals","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-activity"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Chronic Approval</div>
                    <div class="dh2-desc">Chronic approvals workflow</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Doctor ClaimForm *@
        @if (Session["Doctor_ClaimForm"] != null && int.Parse(Session["Doctor_ClaimForm"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("Doctor_ClaimForm","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-file-medical"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Doctor ClaimForm</div>
                    <div class="dh2-desc">Create & manage doctor claim forms</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Print ClaimForm *@
        @if (Session["Doctor_ClaimForm"] != null && int.Parse(Session["Doctor_ClaimForm"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("Print_CancelClaimForm","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-printer"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Print ClaimForm</div>
                    <div class="dh2-desc">Print / Cancel claim forms</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Print & Cancel Invoice *@
        @if ((Session["Medical_Services"] != null && int.Parse(Session["Medical_Services"].ToString()) == 1)
          || (Session["Doctor_ClaimForm"] != null && int.Parse(Session["Doctor_ClaimForm"].ToString()) == 1))
        {
            <a class="dh2-tile" href="@Url.Action("Print_CancelAPProval","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-receipt"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Print & Cancel Invoice</div>
                    <div class="dh2-desc">Invoices printing & cancellation</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Invoices Audit *@
        @if (Session["Invoices_Audit"] != null && int.Parse(Session["Invoices_Audit"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("Invoices_Audit","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-shield-check"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Invoices Audit</div>
                    <div class="dh2-desc">Audit invoices and review status</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Expanded Services *@
        @if (Session["Expanded_Services"] != null && int.Parse(Session["Expanded_Services"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("Provider_Expended_services","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-buildings"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Expanded Services</div>
                    <div class="dh2-desc">Expanded services list</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

        @* Payment Inquiry *@
        @if (Session["Payment_Inquiry"] != null && int.Parse(Session["Payment_Inquiry"].ToString()) == 1)
        {
            <a class="dh2-tile" href="@Url.Action("PaymentInquiry","ClaimForm")">
                <div class="dh2-icon"><i class="bi bi-cash-coin"></i></div>
                <div class="dh2-body">
                    <div class="dh2-name">Payment Inquiry</div>
                    <div class="dh2-desc">Search & view payment status</div>
                </div>
                <div class="dh2-go"><i class="bi bi-arrow-right"></i></div>
            </a>
        }

    </div>
</div>

@*eror messages*@
@if (ViewBag.ErorMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire("Error !", "@ViewBag.ErorMessage", "error");
        };
    </script>
}

<script type="text/javascript">
    document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            $.connection.hub.stop();
        } else {
            $.connection.hub.start().done(function () {
                getData();
                getData1();
            }).fail(function (e) { });
        }
    });

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    $(function () {
        var cus = $.connection.cusHub;

        cus.client.displayCustomer = function () {
            getData();
        };

        cus.client.data = function () {
            getData1();
        };

        cus.client.data1 = function () {
            getData2();
        };

        $.connection.hub.start();
        getData();
        getData1();
        getData2();
    });

    function getData1() {
        try {
            $.ajax({
                url: $("#Getmessages").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data1) {
                    $.get("/ClaimForm/getcountmessage", {}, function (data) {
                        if (data == 0) {
                            $('#MesaageCount').removeAttr("data-count");
                        }
                        else {
                            $('#MesaageCount').attr("data-count", data);
                        }
                    });

                    $.each(data1.listCus, function (i, model) { });
                }
            });
        }
        catch (err) { }
    }

    function getData() {
        try {
            $.ajax({
                url: $("#Get").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    var provid = 0;
                    var branchid = 0;

                    if ("@Session["providerid"]" != "" && "@Session["BranchID"]" != "") {
                        provid = parseInt("@Session["providerid"]");
                        branchid = parseInt("@Session["BranchID"]");
                        branchid = parseInt("@Session["BranchID"]");
                    }

                    var ApprovePage = 0;
                    if ("@Session["ClaimForm_Approved"]" != "") {
                        ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                    }

                    $.get("/ClaimForm/getcountallert", {}, function (data1) {
                        if (data1 == 0) {
                            $('#NotifactionCount').removeAttr("data-count");
                        }
                        else {
                            $('#NotifactionCount').attr("data-count", data1);
                        }
                    });

                    $.each(data.listCus, function (i, model) {

                        if ((provid == model.ProviderID) && (branchid == model.BranchID) &&
                            (model.CardNumber != "0") && (model.ClaimFormNum != 0) &&
                            ($('#trigger').val() == "0") && (ApprovePage == 1)) {

                            $('#trigger').val("1");

                            $.connection.hub.disconnected(function () {
                                setTimeout(function () {
                                    $.connection.hub.start();
                                }, 5000);
                            });

                            $.get("/ClaimForm/DeactiveAlert", {}, function (data2) {
                                if ("@Session["ClaimForm_Approved"]" != "") {
                                    ClaimForm_Approv = parseInt("@Session["ClaimForm_Approved"]");
                                    if (ClaimForm_Approv == 1) {
                                        var sound = new Audio('/Media/alert.mp3');
                                        sound.autoplay = true;
                                        sound.muted = false;
                                        sound.play();

                                        setTimeout(function () {
                                            snackbar.classList.add('isShown');
                                            $('#CardNumbersnackbar').text(model.CardNumber)
                                            $('#Claimformsnackbar').text(model.ClaimFormNum)
                                            setTimeout(hideSnackbar, 5000);

                                            $('#trigger').val("0");

                                            if (data2 == 0) {
                                                $('#NotifactionCount').removeAttr("data-count");
                                            }
                                            else {
                                                $('#NotifactionCount').attr("data-count", data2);
                                            }
                                        }, 100);
                                    }
                                }
                            });
                        }
                    });
                }
            });
        }
        catch (err) { }
    }

    function getData2() {
        try {
            $.ajax({
                url: $("#Get1").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    var provid = 0;
                    var branchid = 0;
                    if ("@Session["providerid"]" != "" && "@Session["BranchID"]" != "") {
                        provid = parseInt("@Session["providerid"]");
                        branchid = parseInt("@Session["BranchID"]");
                    }

                    var ApprovePage = 0;
                    var ApprovePage1 = 0;
                    var ApprovePage2 = 0;

                    if ("@Session["ClaimForm_Approved"]" != "" || "@Session["Approval"]" != "" || "@Session["Doctor_ClaimForm"]" != "") {
                        ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                        ApprovePage1 = parseInt("@Session["Approval"]");
                        ApprovePage2 = parseInt("@Session["Doctor_ClaimForm"]");
                    }

                    $.get("/ClaimForm/getcountallertSmartCard", {}, function (data1) {
                        if (data1 == 0) {
                            $('#MemberSmartCardRequestsCount').removeAttr("data-count");
                        }
                        else {
                            $('#MemberSmartCardRequestsCount').attr("data-count", data1);
                        }
                    });

                    $.each(data.listCus, function (i, model) {

                        if ((provid == model.ProviderID) && (branchid == model.BranchID) &&
                            (model.CardNumber != "0") && ($('#trigger1').val() == "0") &&
                            (ApprovePage == 1 || ApprovePage1 == 1 || ApprovePage2 == 1)) {

                            $('#trigger1').val("1");

                            $.connection.hub.disconnected(function () {
                                setTimeout(function () {
                                    $.connection.hub.start();
                                }, 5000);
                            });

                            $.get("/ClaimForm/DeactiveAlertSmartCard", {}, function (data2) {

                                var sound = new Audio('/Media/alert.mp3');
                                sound.play();

                                setTimeout(function () {
                                    snackbarMember.classList.add('isShown');
                                    $('#CardNumbersnackbarMember').text(model.CardNumber)
                                    setTimeout(hideSnackbard1, 5000);

                                    $('#trigger1').val("0");

                                    if (data2 == 0) {
                                        $('#MemberSmartCardRequestsCount').removeAttr("data-count");
                                    }
                                    else {
                                        $('#MemberSmartCardRequestsCount').attr("data-count", data2);
                                    }
                                }, 100);
                            });
                        }
                    });
                }
            });
        }
        catch (err) { }
    }
</script>

<script>
    function refresh() {
        $.ajax({
            type: "POST",
            url: "/ClaimForm/CheckIfSessionValid",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r == "False") {
                    window.open('@Url.Action("login", "ClaimForm")', '_self');
                }
                else {
                    setTimeout(refresh, 5000);
                }
            }
        });
    }
    setTimeout(refresh, 1000);
</script>

<script type="text/javascript">
    $(document).on('select2:open', () => {
        document.querySelector('.select2-search__field').focus();
    });
</script>