@{
    ViewBag.Title = "PaymentInquiry";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";

    Func<string, string, string> T = (key, fallback) =>
    {
        try
        {
            var o = HttpContext.GetGlobalResourceObject("PaymentInquiry", key);
            return (o == null) ? fallback : o.ToString();
        }
        catch { return fallback; }
    };
}
@Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/bootstrap")*@
<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>

@*<script type="text/javascript" src="~/Scripts/bootstrap.bundle.min.js"></script>*@
@*<link rel="stylesheet" href="~/Content/bootstrapbundle.min.css">*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
@*<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>*@
<link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="~/Content/dataTables.bootstrap5.min.css" />
<script type="text/javascript" src="~/Scripts/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/Scripts/jszip.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/pdfmake.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/vfs_fonts.js"></script>
<script type="text/javascript" src="~/Scripts/buttons.html5.min.js"></script>
<script type="text/javascript" src="~/Scripts/buttons.print.min.js"></script>
<link rel="stylesheet" href="~/Content/buttons.dataTables.min.css">

@*<link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet" />*@
@*<link rel="stylesheet" href="~/Content/buttons.dataTables.min.css">*@


@*<script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>*@
<script type="text/javascript" src="~/Scripts/date-eu.js"></script>


<input type="hidden" id="trigger" value="0" />
<input type="hidden" id="triggercount" value="0" />

<input type="hidden" id="trigger1" value="0" />
<input type="hidden" id="triggercount1" value="0" />

@Html.Hidden("Get", Url.Action("Get", "Customer"))
@Html.Hidden("Getmessages", Url.Action("Getmessages", "Customer"))
@Html.Hidden("Get1", Url.Action("Get1", "Customer"))


<style>
    /*body {
        margin: 0;
        padding: 0;
        background: #262626;
    }*/
    #backring1 {
        background-color: darkgray;
    }

    .ring1 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 150px;
        height: 150px;
        background: transparent;
        border: 3px solid /*#3c3c3c*/ #9ac3b8;
        border-radius: 50%;
        text-align: center;
        line-height: 150px;
        font-family: sans-serif;
        font-size: 20px;
        color: /*#928d36*/ #fff000;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-shadow: 0 0 10px #fff000;
        box-shadow: 0 0 20px rgba(0,0,0,.5);
        background-color: #11395c;
    }

        .ring1:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: 3px solid transparent;
            border-top: 3px solid #fff000;
            border-right: 3px solid #fff000;
            box-shadow: 0 0 1em white, 0 0 0 1000vw #e0dedeb5;
            border-radius: 50%;
            animation: animateC1 2s linear infinite;
        }

    spana1 {
        display: block;
        position: absolute;
        top: calc(50% - 2px);
        left: 50%;
        width: 50%;
        height: 4px;
        background: transparent;
        transform-origin: left;
        animation: animate1 2s linear infinite;
    }

        spana1:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #fff000;
            top: -6px;
            right: -8px;
            box-shadow: 0 0 20px #fff000;
        }

    @@keyframes animateC1 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@keyframes animate1 {
        0% {
            transform: rotate(45deg);
        }

        100% {
            transform: rotate(405deg);
        }
    }
</style>
<style>

    /*table {
        width: 82vw;
        height: 90vh;
        background-color: #6fcaea;
        box-shadow: 0 .4rem .8rem #ebc474;
        border-radius: .8rem;
        overflow: hidden;

    }*/
    .status {
        padding: .4rem 0;
        border-radius: 2rem;
        text-align: center;
    }

        .status.Received {
            background-color: #e0dede;
            color: black;
        }

        .status.UnPaid {
            background-color: #75ea75;
            color: black;
        }

        .status.Paid {
            background-color: forestgreen;
            color: white;
        }

        .status.PartlyPaid {
            background-color: #154e4e;
            color: white;
        }


    @@media (max-width: 1800px) {
        /*td:nth-child(1), td:nth-child(2),*/ td:nth-child(3), td:nth-child(4) {
            min-width: 12.1rem;
        }
    }

    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        color: #cc8f11;
        text-align: center;
    }

    tr {
        border-radius: 10px;
        text-align: center;
    }

    td:first-child,
    th:first-child {
        border-radius: 10px 0 0 10px;
        border-color: teal;
    }

    /*// Set border-radius on the top-right and bottom-right of the last table data on the table row*/
    td:last-child,
    th:last-child {
        border-radius: 0 10px 10px 0;
        border-color: teal;
    }
</style>

<style>
    td.details-control {
        background: url('/Images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('/Images/details_close.png') no-repeat center center;
    }
</style>
<style>

    #link {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        #link:hover {
            background-color: #ddd;
            color: black;
        }

    /*.previous {
        background-color: #f1f1f1;
        color: black;
    }

        .previous:hover {
            background-color: #ddd;
            color: black;
        }

    .next {
        background-color: #04AA6D;
        color: white;
    }*/

    .round {
        background-color: teal;
        color: white;
        border-radius: 50%;
    }
</style>
<style>

    /*td {
        color: lightgray;
    }*/

    /*body {
            background-image:url('../Images/login.jpg');
        }*/
    /*table1 {
        border: 1px solid black;
    }*/
    table.table1 {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table.table1 th {
            background-color: teal;
            color: white;
            font-weight: bold;
        }

        table.table1 th, table.table1 td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        table.table1, table.table1 table td {
            border: 0px solid #ccc;
        }

    body.table789 {
        font-family: Arial;
        font-size: 10pt;
    }

    table.table789 {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table.table789 th {
            background-color: teal;
            color: white;
            font-weight: bold;
            font-size: 12pt;
        }

        table.table789 th, table.table789 td {
            padding: 5px;
            border: 1px solid #ccc;
            font-size: 12pt;
        }

        table.table789, table.table789 table td {
            border: 1px solid #ccc;
            font-size: 12pt;
        }

    body.table7899 {
        font-family: Arial;
        font-size: 11pt;
    }

    table.table7899 {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table.table7899 th {
            background-color: teal;
            color: white;
            font-weight: bold;
            font-size: 12pt;
        }

        table.table7899 th, table.table789 td {
            padding: 5px;
            border: 1px solid #ccc;
            font-size: 11pt;
            font-weight: bold;
        }

        table.table7899, table.table7899 table td {
            padding: 5px;
            border: 1px solid #ccc;
            font-size: 10pt;
        }

    body.table78991 {
        font-family: Arial;
        font-size: 9pt;
    }

    table.table78991 {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table.table78991 th {
            background-color: teal;
            color: white;
            font-weight: bold;
            font-size: 11pt;
        }

        table.table78991 th, table.table789 td {
            padding: 5px;
            border: 1px solid #ccc;
            font-size: 9pt;
            /*font-weight: bold;*/
        }

        table.table78991, table.table78991 table td {
            padding: 5px;
            border: 1px solid #ccc;
            font-size: 9pt;
            /*font-weight: bold;*/
            /*color: black;*/
        }

    #ProviderBranch {
        max-width: 450px;
    }

    #ClaimForm_Number {
        max-width: 900px;
    }

    #form_number, #Card_number, #Date_Procedure, #Date_symptoms, #ICD_Number {
        font-size: 15px;
    }

    #providerName {
        font-size: 12px;
    }

    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 5px 5px 5px 5px #700c0c;
        box-shadow: 1px 1px 1px 1px #700c0c;
    }

    #pagination {
        width: 100%;
        text-align: center;
    }

        #pagination ul li {
            display: inline;
            margin-left: 10px;
        }
</style>
<div class="pv-page pi-page">
    <div class="pv-shell">

        <div class="pv-header">
            <div>
                <div class="pv-title">@T("Title", "Payment Inquiry")</div>
                <div class="pv-sub">@T("SubTitle", "View provider payment batches & status")</div>
            </div>

            <div class="pv-actions">
                <a class="btn btn-outline-secondary pv-btn" href="@Url.Action("DoctorHome","ClaimForm")">
                    <i class="bi bi-arrow-left"></i>
                    <span>@T("BackHome", "Back to Home")</span>
                </a>

                <a class="btn btn-outline-primary pv-btn" href="@Url.Action("Provider_Expended_services","ClaimForm")">
                    <i class="bi bi-grid"></i>
                    <span>@T("GoExpanded", "Go to Expanded Services")</span>
                </a>
            </div>
        </div>

        <div class="pv-card">
            <div class="pv-card-head">
                <div class="pv-card-title">@T("Legend", "Payment Inquiry Data")</div>
            </div>
            @{
                // Build distinct statuses from services (C# only)
                var statusSet = new HashSet<string>(StringComparer.OrdinalIgnoreCase);
                if (ViewBag.services != null)
                {
                    foreach (var it in ViewBag.services)
                    {
                        var stObj = it.GetType().GetProperty("BatchStatusName").GetValue(it);
                        var st = (stObj == null) ? "" : stObj.ToString().Trim();
                        if (!string.IsNullOrWhiteSpace(st)) { statusSet.Add(st); }
                    }
                }

                // Put common statuses first if they exist
                var preferred = new[] { "Paid", "UnPaid", "Partly Paid", "Received" };
                var orderedStatuses = new List<string>();

                foreach (var p in preferred)
                {
                    if (statusSet.Contains(p)) { orderedStatuses.Add(p); }
                }

                foreach (var s in statusSet)
                {
                    bool exists = false;
                    for (int i = 0; i < orderedStatuses.Count; i++)
                    {
                        if (string.Equals(orderedStatuses[i], s, StringComparison.OrdinalIgnoreCase))
                        {
                            exists = true;
                            break;
                        }
                    }
                    if (!exists) { orderedStatuses.Add(s); }
                }
            }
            @{
                // ===== Summary (C# only) =====
                int totalCount = 0, paidCount = 0, unpaidCount = 0, receivedCount = 0;
                decimal sumPaid = 0m, sumRest = 0m;

                Func<object, decimal> ToDec = (val) =>
                {
                    if (val == null) return 0m;
                    decimal d;
                    return decimal.TryParse(val.ToString(), out d) ? d : 0m;
                };

                if (ViewBag.services != null)
                {
                    foreach (var it in ViewBag.services)
                    {
                        totalCount++;

                        var statusObj = it.GetType().GetProperty("BatchStatusName").GetValue(it);
                        var status = (statusObj == null) ? "" : statusObj.ToString().Trim();

                        // Paid Amt = DueNetPaymentAmt (حسب جدولك الحالي)
                        var paidAmt = ToDec(it.GetType().GetProperty("DueNetPaymentAmt").GetValue(it));
                        var restAmt = ToDec(it.GetType().GetProperty("rest").GetValue(it));

                        sumPaid += paidAmt;
                        sumRest += restAmt;

                        if (string.Equals(status, "Paid", StringComparison.OrdinalIgnoreCase)) { paidCount++; }
                        else if (string.Equals(status, "UnPaid", StringComparison.OrdinalIgnoreCase)) { unpaidCount++; }
                        else if (string.Equals(status, "Received", StringComparison.OrdinalIgnoreCase)) { receivedCount++; }
                    }
                }
            }

        <div class="pi-summary">
            <div class="pi-scard">
                <div class="pi-sicon"><i class="bi bi-collection"></i></div>
                <div>
                    <div class="pi-slabel">@T("Sum_TotalBatches", "Total Batches")</div>
                    <div class="pi-svalue">@totalCount</div>
                </div>
            </div>

            <div class="pi-scard">
                <div class="pi-sicon"><i class="bi bi-check2-circle"></i></div>
                <div>
                    <div class="pi-slabel">@T("Sum_PaidCount", "Paid")</div>
                    <div class="pi-svalue">@paidCount</div>
                </div>
            </div>

            <div class="pi-scard">
                <div class="pi-sicon"><i class="bi bi-x-circle"></i></div>
                <div>
                    <div class="pi-slabel">@T("Sum_UnpaidCount", "Unpaid")</div>
                    <div class="pi-svalue">@unpaidCount</div>
                </div>
            </div>
            <div class="pi-scard">
                <div class="pi-sicon"><i class="bi bi-inbox-arrow-down"></i></div>
                <div>
                    <div class="pi-slabel">@T("Sum_ReceivedCount", "Received")</div>
                    <div class="pi-svalue">@receivedCount</div>
                </div>
            </div>

            <div class="pi-scard">
                <div class="pi-sicon"><i class="bi bi-cash-stack"></i></div>
                <div>
                    <div class="pi-slabel">@T("Sum_TotalPaid", "Total Paid Amt")</div>
                    <div class="pi-svalue">@sumPaid.ToString("N2")</div>
                </div>
            </div>

            <div class="pi-scard">
                <div class="pi-sicon"><i class="bi bi-hourglass-split"></i></div>
                <div>
                    <div class="pi-slabel">@T("Sum_TotalRest", "Total Rest Amt")</div>
                    <div class="pi-svalue">@sumRest.ToString("N2")</div>
                </div>
            </div>
        </div>
            <div class="pi-toolbar">
                <div class="pi-search">
                    <i class="bi bi-search"></i>
                    <input id="piSearch" class="form-control" type="text" placeholder="@T("Search", "Search...")" />
                </div>

                <div class="pi-filters">
                    <button type="button" class="btn btn-outline-secondary pi-filter active" data-filter="all">
                        @T("Filter_All", "All")
                    </button>

                    @foreach (var s in orderedStatuses)
                    {
                        // Key for translation. Example: Status_Paid, Status_UnPaid, Status_PartlyPaid, Status_Received
                        var key = "Status_" + s.Replace(" ", "");
                        <button type="button" class="btn btn-outline-primary pi-filter" data-filter="@s">
                            @T(key, s)
                        </button>
                    }
                </div>
            </div>

            <div class="pv-table-wrap pi-scroll">
                <table class="table table-hover align-middle mb-0" id="Claim_Services2" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@T("Col_ProviderName", "Provider Name")</th>
                            <th>@T("Col_BatchNumber", "Batch Number")</th>
                            <th>@T("Col_RecDate", "Rec Date")</th>
                            <th>@T("Col_DueDate", "Due Date")</th>
                            <th>@T("Col_PaymentDate", "Payment Date")</th>
                            <th>@T("Col_RecBatchAmt", "Rec Batch Amt")</th>
                            <th>@T("Col_NetPayment", "Net Payment Amt.")</th>
                            <th>@T("Col_WHT", "W.H.T")</th>
                            <th>@T("Col_AdminFees", "Admin fees")</th>
                            <th>@T("Col_DueAmt", "Due Amt")</th>
                            <th>@T("Col_PaidAmt", "Paid Amt")</th>
                            <th>@T("Col_RestAmt", "Rest Amt")</th>
                            <th>@T("Col_PayDocNo", "Pay. Doc. No.")</th>
                            <th>@T("Col_Method", "Payment Method Name")</th>
                            <th>@T("Col_Status", "Batch Status Name")</th>
                            <th style="min-width:80px;">@T("Col_Show", "Show")</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in ViewBag.services)
                        {
                            <tr>
                                <td>@item.GetType().GetProperty("ProviderName").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("BatchNumber").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("RecDate").GetValue(item).ToString("yyyy-MM-dd")</td>
                                <td>@item.GetType().GetProperty("DueDate").GetValue(item).ToString("yyyy-MM-dd")</td>
                                <td>@item.GetType().GetProperty("PaymentDate").GetValue(item).ToString("yyyy-MM-dd")</td>
                                <td>@item.GetType().GetProperty("RecBatchAmt").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("Expr2").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("WHTaxAmt").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("AdminFeesAmt").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("PaymentAmt").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("DueNetPaymentAmt").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("rest").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("PayamentID").GetValue(item)</td>
                                <td>@item.GetType().GetProperty("PaymentMethodName").GetValue(item)</td>

                                <td>
                                    @{
                                        var st = (item.GetType().GetProperty("BatchStatusName").GetValue(item) ?? "").ToString();
                                    }
                                    <span class="pi-status @(st.Replace(" ", ""))">@st</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-primary pi-show-btn" onclick="show(this);">
                                        <i class="bi bi-eye"></i>
                                        <span>@(HttpContext.GetGlobalResourceObject("PaymentInquiry","Col_Show") ?? "Show")</span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

            <div class="pv-footer">
                <a class="btn btn-outline-secondary pv-btn" href="@Url.Action("DoctorHome","ClaimForm")">
                    <i class="bi bi-arrow-left"></i>
                    <span>@T("BackHome", "Back to Home")</span>
                </a>

                <a class="btn btn-outline-primary pv-btn" href="@Url.Action("Provider_Expended_services","ClaimForm")">
                    <i class="bi bi-grid"></i>
                    <span>@T("GoExpanded", "Go to Expanded Services")</span>
                </a>
            </div>
        </div>

    </div>
</div>

<style>

    .pi-slabel {
        font-size: 12px;
        color: rgba(15,23,42,.65);
        font-weight: 800;
        white-space: nowrap; /* ✅ تمنع كسر النص */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pi-svalue {
        font-size: 22px; /* أكبر شوية */
        font-weight: 900;
        color: #0b2b40;
        line-height: 1.1;
        direction: ltr; /* ✅ الأرقام تبقى صح في العربي */
        text-align: start;
    }
    html[dir="rtl"] .pi-scard {
        flex-direction: row-reverse;
    }

    /* ===== PaymentInquiry: Summary + Toolbar + Better scrolling ===== */
    .pi-summary {
        display: grid;
        grid-template-columns: repeat(6, minmax(160px, 1fr)); /* ✅ 6 في صف واحد */
        gap: 12px;
        margin: 6px 0 14px;
        align-items: stretch;
    }

.pi-scard{
  background:#fff;
  border:1px solid rgba(0,0,0,.08);
  border-radius:16px;
  box-shadow: 0 10px 26px rgba(15,23,42,.06);
  padding:12px 14px;
  display:flex;
  gap:12px;
  align-items:center;
}
.pi-sicon{
  width:44px;height:44px;
  border-radius:14px;
  display:flex;align-items:center;justify-content:center;
  background: rgba(24,169,153,.12);
  border:1px solid rgba(24,169,153,.22);
  color:#0b2b40;
  font-size:20px;
}
.pi-slabel{ font-size:12px; color: rgba(15,23,42,.65); font-weight:800; }
.pi-svalue{ font-size:20px; font-weight:900; color:#0b2b40; line-height:1.1; }

@@media (max-width: 1200px){
  .pi-summary{ grid-template-columns: repeat(2, minmax(180px, 1fr)); }
}
/* Responsive */
@@media (max-width: 1400px){
  .pi-summary{ grid-template-columns: repeat(3, minmax(180px, 1fr)); }
}
@@media (max-width: 992px){
  .pi-summary{ grid-template-columns: repeat(2, minmax(180px, 1fr)); }
}
@@media (max-width: 576px){
  .pi-summary{ grid-template-columns: 1fr; }
}

.pi-toolbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:12px;
  padding:10px 12px;
  margin-bottom:12px;
  border:1px solid rgba(0,0,0,.08);
  border-radius:14px;
  background: rgba(15,23,42,.03);
}
.pi-search{
  flex:1;
  position:relative;
  max-width: 520px;
}
.pi-search i{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:12px;
  color: rgba(15,23,42,.55);
}
html[dir="rtl"] .pi-search i{ left:auto; right:12px; }

.pi-search input{
  padding-left:38px;
  border-radius:14px;
  min-height:44px;
}
html[dir="rtl"] .pi-search input{
  padding-left:12px;
  padding-right:38px;
}

.pi-filters{
  display:flex;
  gap:8px;
  flex-wrap:wrap;
}
.pi-filter{
  border-radius:14px;
  font-weight:900;
}
.pi-filter.active{
  box-shadow: 0 10px 24px rgba(15,23,42,.08);
}

.pi-scroll{
  overflow:auto;
  border-radius:14px;
  border:1px solid rgba(0,0,0,.08);
}
.pi-scroll table{
  min-width: 1400px; /* يخلي السحب الأفقي واضح */
}
    /* PaymentInquiry UI polish */
    .pi-page .pv-card {
        padding: 16px;
    }

    .pi-page .table thead th {
        background: rgba(24,169,153,.10);
        border-bottom: 1px solid rgba(24,169,153,.22);
        color: #0b2b40;
        font-weight: 900;
        font-size: 13px;
        white-space: nowrap;
    }

    .pi-page .table td {
        font-size: 13px;
        white-space: nowrap;
        vertical-align: middle;
    }

    .pi-page .dataTables_wrapper .dt-buttons .dt-button {
        border-radius: 12px !important;
        border: 1px solid rgba(0,0,0,.08) !important;
        background: #fff !important;
        padding: 8px 10px !important;
        font-weight: 800 !important;
        color: #0b2b40 !important;
        margin-right: 6px !important;
    }

        .pi-page .dataTables_wrapper .dt-buttons .dt-button:hover {
            background: rgba(24,169,153,.12) !important;
        }

    .pi-show-btn {
        border-radius: 12px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-weight: 900;
    }

        .pi-show-btn i {
            font-size: 16px;
        }

    /* scoped to this page only */
    .pi-page .table thead th {
        background: rgba(24,169,153,.12);
        border-bottom: 1px solid rgba(24,169,153,.22);
        color: #0b2b40;
        font-weight: 900;
        white-space: nowrap;
        font-size: 13px;
    }

    .pi-page .table td {
        font-size: 13px;
        white-space: nowrap;
        vertical-align: middle;
    }

    .pi-show {
        display: inline-flex;
        width: 38px;
        height: 38px;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: 1px solid rgba(0,0,0,.08);
        background: #fff;
        text-decoration: none;
        color: #0b2b40;
    }

        .pi-show:hover {
            background: rgba(24,169,153,.12);
        }

    /* Status pills */
    .pi-status {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: .32rem .6rem;
        border-radius: 999px;
        font-weight: 900;
        font-size: 12px;
        min-width: 86px;
        border: 1px solid rgba(0,0,0,.08);
        background: #f3f4f6;
        color: #111827;
    }

        .pi-status.UnPaid {
            background: rgba(34,197,94,.16);
            color: #14532d;
            border-color: rgba(34,197,94,.25);
        }

        .pi-status.Paid {
            background: rgba(16,185,129,.18);
            color: #064e3b;
            border-color: rgba(16,185,129,.28);
        }

        .pi-status.PartlyPaid {
            background: rgba(14,116,144,.16);
            color: #083344;
            border-color: rgba(14,116,144,.25);
        }

        .pi-status.Received {
            background: rgba(148,163,184,.22);
            color: #0f172a;
            border-color: rgba(148,163,184,.35);
        }

    @@media (max-width: 992px) {
        .pi-page .table td, .pi-page .table th {
            font-size: 12px;
        }
    }
</style>

@*<div id="backring1">
        <div class="ring1" id="Loadingg">
            Loading
            <spana1></spana1>
        </div>
    </div>*@




<script>

    $(document).ready(function () {

        //var data = [];
        $("#Loadingg").hide();

        var table = $('#Claim_Services2').DataTable({
            ordering: true,
            searching: false,
            paging: true,
            dom: 'Bfrtip',
            deferRender: true,
            buttons: ['copy', 'csv', 'excel', 'print'],
            scrollX: true,          // ✅ يحل مشكلة الحركة أفضل (اختياري لكنه قوي)
            autoWidth: false
        });

        // Search box
        $('#piSearch').on('keyup', function () {
            table.search(this.value).draw();
        });

        // Filters by status (column 14 => Batch Status Name) 0-based
        $('.pi-filter').on('click', function () {
            $('.pi-filter').removeClass('active');
            $(this).addClass('active');

            var f = $(this).data('filter');
            if (f === 'all') table.column(14).search('').draw();
            else table.column(14).search(f, true, false).draw();
        });
        $('#ClaimServicesTable').DataTable({
            paging: true,
        });


    });
    function show(button) {
        //Determine the reference of the Row using the Button.
        //var row = $(button).closest("TR");
        var row = $(button).closest("TR");
        //.find("td")
        //Delete the Table row using it's Index.

        var rowindexx = row[0].rowIndex;
        //alert(row[0].cells.item(1).innerHTML);
        //var table = $('#ClaimFormTable').DataTable();

        //var ClaimID = table.cell(row[0].rowIndex - 1, 1).data();
        var BatchNumber = row[0].cells.item(1).innerHTML;

        window.open('@Url.Action("ShowBatchData", "ClaimForm")?Batch_Numberes=' + BatchNumber , '_blank');

        //alert($("TD", row).eq(1).html());
        //alert(ClaimID);
        //call the action method and get the data.

    }

</script>




<script type="text/javascript">
    document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            //$.connection.hub.disconnect();
            // $.connection.hub.disconnected(function () {
            //});
            $.connection.hub.stop();

             //console.log("tab out")
            // tab is changed
        } else {
            //$.connection.hub.connect();
            $.connection.hub.start().done(function () {
                 //console.log("connection started")
                //notifications.onconn();
                getData();
                getData1();
            }).fail(function (e) {
                //console.log(e);
            });
            //console.log("tab in")

            // tab is active
        }
    });

    function sleep(ms) {
        return new Promise(
            resolve => setTimeout(resolve, ms)
        );


    }
    $(function () {
        // Proxy created on the fly
        var cus = $.connection.cusHub;
        //var cus1 = $.connection.cusHub1;
        //console.log(cus)
        // Declare a function on the job hub so the server can invoke it
        cus.client.displayCustomer = function () {
            // async function a() {
            getData();
            //   await sleep(2000);
            //  getData1();
            //}
            //a();

            //getData();
            //getData1();
        };
        cus.client.data = function () {
            //async function a() {
            //    getData();
            //    await sleep(2000);
            getData1();
            //}
            //a();

            //getData();
            //getData1();
        };

        cus.client.data1 = function () {
            getData2();
        };
        // Start the connection
        $.connection.hub.start();
        getData();
        getData1();
        getData2();
        //async function aa() {
        //    getData();
        //    await sleep(2000);
        //    getData1();
        //}
        //aa();

    });
    function getData1() {
        try {

        //var $tbl = $('#tblInfo');
        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Getmessages").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data1) {

                $.get("/ClaimForm/getcountmessage", {/* Provider_id: $('#providerID').val(), Branch_id: $('#BranchID').val()*/ }, function (data) {
                    setBadgeCount('MesaageCount', data);
                    // console.log(data);
                });


                $.each(data1.listCus, function (i, model) {

                });
            }
            });
        }
        catch (err) {
        }
    }

    function getData() {
        try {

        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Get").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data) {

                var provid = 0;
                var branchid = 0;
                if ("@Session["providerid"]" != "" &&"@Session["BranchID"]" != "") {
                     provid = parseInt("@Session["providerid"]");
                     branchid = parseInt("@Session["BranchID"]");
                }
                  var ApprovePage = 0;

                if ("@Session["ClaimForm_Approved"]" != "" ) {
                     ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                }
                //alert(provid);
                //alert(branchid);

                @*alert("@Session["providerid"]");
                alert(data.ProviderID);*@

                //$tbl.empty();
                $.get("/ClaimForm/getcountallert", {}, function (data1) {
                    setBadgeCount('NotifactionCount', data1);
                });
                $.each(data.listCus, function (i, model) {

                    //if ((provid == model.ProviderID) && (branchid == model.BranchID)) {
                    //}
                    if ((provid == model.ProviderID) && (branchid == model.BranchID) && (model.CardNumber != "0") && (model.ClaimFormNum != 0) && ($('#trigger').val() == "0") && (ApprovePage == 1)) {
                        $('#trigger').val("1");
                        $.connection.hub.disconnected(function () {
                            setTimeout(function () {
                                $.connection.hub.start();
                            }, 5000); // Restart connection after 5 seconds.
                        });
                        $.get("/ClaimForm/DeactiveAlert", {}, function (data2) {

                        //var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");

                            @*//if (result == true) {
                            alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum );
                                //window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                        //}
                        //else {

                        //}
                            $('#trigger').val("0");*@
                                    if ("@Session["ClaimForm_Approved"]"!="") {
                                    ClaimForm_Approv = parseInt("@Session["ClaimForm_Approved"]");
                                   if (ClaimForm_Approv == 1) {
                                       var sound = new Audio('/Media/alert.mp3');
                                       sound.autoplay = true;
                                       sound.muted = false;
                                       sound.play();
                                       setTimeout(function () {
                                           snackbar.classList.add('isShown');
                                           $('#CardNumbersnackbar').text(model.CardNumber)
                                           $('#Claimformsnackbar').text(model.ClaimFormNum)
                                           setTimeout(hideSnackbar, 5000);
                                    @*var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");
                                        if (result == true) {
                                                    window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                                       }
                                       else {

                                       }*@
                                       $('#trigger').val("0");
                                           setBadgeCount('NotifactionCount', data2);
                                       }, 100);
                                }
                                 }

                        })
                        //alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber +"\n Claim Form Is :"+model.ClaimFormNum);

                    }
                    //$tbl.append
                    //    (
                    //    '<tr>' +
                    //        '<td>' + model.ClaimFormNum + '</td>' +
                    //        '<td>' + model.CardNumber + '</td>' +
                    //        '<td>' + model.ProviderID + '</td>' +
                    //        '<td>' + model.BranchID + '</td>' +
                    //    '<tr>'
                    //    );
                });
            }
            });
        }
        catch (err) {
        }
    }
    function getData2() {
        try {

        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Get1").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data) {

                var provid = 0;
                var branchid = 0;
                if ("@Session["providerid"]" != "" &&"@Session["BranchID"]" != "") {
                     provid = parseInt("@Session["providerid"]");
                     branchid = parseInt("@Session["BranchID"]");
                }
                  var ApprovePage = 0;
                  var ApprovePage1 = 0;
                  var ApprovePage2 = 0;

                if ("@Session["ClaimForm_Approved"]" != ""||"@Session["Approval"]" != ""||"@Session["Doctor_ClaimForm"]" != "" ) {
                     ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                     ApprovePage1 = parseInt("@Session["Approval"]");
                     ApprovePage2 = parseInt("@Session["Doctor_ClaimForm"]");
                }

                $.get("/ClaimForm/getcountallertSmartCard", {}, function (data1) {
                    setBadgeCount('MemberSmartCardRequestsCount', data1);
                });
                $.each(data.listCus, function (i, model) {

                    //if ((provid == model.ProviderID) && (branchid == model.BranchID)) {
                    //}
                    if ((provid == model.ProviderID) && (branchid == model.BranchID) && (model.CardNumber != "0")  && ($('#trigger1').val() == "0") && (ApprovePage == 1||ApprovePage1 == 1||ApprovePage2 == 1)) {
                        $('#trigger1').val("1");
                        $.connection.hub.disconnected(function () {
                            setTimeout(function () {
                                $.connection.hub.start();
                            }, 5000); // Restart connection after 5 seconds.
                        });

                        $.get("/ClaimForm/DeactiveAlertSmartCard", {}, function (data2) {

                        //var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");

                            //if (result == true) {
                            var sound = new Audio('/Media/alert.mp3');
                            sound.play();
                            setTimeout(function () {
                                snackbarMember.classList.add('isShown');
                                $('#CardNumbersnackbarMember').text(model.CardNumber)
                                setTimeout(hideSnackbard1, 5000);
                           // alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum );
                               // window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                        //}
                        //else {

                        //}
                            $('#trigger1').val("0");
                                setBadgeCount('MemberSmartCardRequestsCount', data2);
                            }, 100);

                        })
                        //alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber +"\n Claim Form Is :"+model.ClaimFormNum);

                    }
                    //$tbl.append
                    //    (
                    //    '<tr>' +
                    //        '<td>' + model.ClaimFormNum + '</td>' +
                    //        '<td>' + model.CardNumber + '</td>' +
                    //        '<td>' + model.ProviderID + '</td>' +
                    //        '<td>' + model.BranchID + '</td>' +
                    //    '<tr>'
                    //    );
                });
            }
            });
        }
        catch (err) {
        }
    }
</script>

<script>


    function refresh() {

              $.ajax({
                        type: "POST",
                        url: "/ClaimForm/CheckIfSessionValid",
                        //data: JSON.stringify(Claims_Services),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            if (r == "False") {
                                window.open('@Url.Action("login", "ClaimForm")', '_self');
                            }
                            else {
                                setTimeout(refresh, 5000);
                                 }
                        }
        });

    }

    setTimeout(refresh, 1000);
</script>



@*<script type="text/javascript">
        $(function () {

            // Proxy created on the fly
            var cus = $.connection.cusHub;

            // Declare a function on the job hub so the server can invoke it
            cus.client.displayCustomer = function () {
                getData1();
            };

            // Start the connection
            $.connection.hub.start();
            getData1();
        });

        function getData1() {
            //var $tbl = $('#tblInfo');
            $.ajax({
                url: /*"/Customer/Send_to_payy"*/ $("#Getmessages").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    $.get("/ClaimForm/getcountmessage", {/* Provider_id: $('#providerID').val(), Branch_id: $('#BranchID').val()*/ }, function (data) {
                        if (data == 0) {
                            $('#MesaageCount').removeAttr("data-count");

                        }
                        else {
                            $('#MesaageCount').attr("data-count", data);
                        }
                        // console.log(data);
                    });


                    $.each(data.listCus, function (i, model) {

                    });
                }
            });
        }

    </script>*@
