@model GuardianOnline.Infrastructure.MemberClaimForm

@{
    ViewBag.Title = "UploadMemberClaim";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";

    Func<string, string, string> T = (key, fallback) =>
    {
        try
        {
            var o = HttpContext.GetGlobalResourceObject("UploadMemberClaim", key);
            return (o == null) ? fallback : o.ToString();
        }
        catch { return fallback; }
    };
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs"></script>

<link rel="stylesheet" href="~/Content/select2.min.css">
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>

<input type="hidden" id="trigger" value="0" />
<input type="hidden" id="triggercount" value="0" />
<input type="hidden" id="trigger1" value="0" />
<input type="hidden" id="triggercount1" value="0" />

@Html.Hidden("Get", Url.Action("Get", "Customer"))
@Html.Hidden("Getmessages", Url.Action("Getmessages", "Customer"))
@Html.Hidden("Get1", Url.Action("Get1", "Customer"))

<div class="ex-page">
    <div class="pv-shell">

        <div class="pv-header">
            <div>
                <div class="pv-title">
                    @T("PageTitle", "Member ClaimForm")
                </div>
                <div class="pv-sub">
                    @T("SubTitle", "Upload member claim form image and submit to system")
                </div>
            </div>

            <div class="pv-actions">
                <a class="btn btn-outline-secondary pv-btn"
                   href="@Url.Action("DoctorHome","ClaimForm")">
                    <i class="bi bi-arrow-left"></i>
                    @T("BackHome", "Back to Main Home")
                </a>
            </div>
        </div>

        @using (Html.BeginForm("UploadMemberClaim",
                               "ClaimForm",
                               FormMethod.Post,
                               new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="pv-card">

                <div class="pv-card-title">
                    @T("CardTitle", "Member ClaimForm Content")
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

                <div class="row g-4">

                    <div class="col-lg-6">
                        <label class="fw-bold mb-2">
                            @T("ClaimFormNumber", "ClaimForm Number")
                        </label>
                        @Html.EditorFor(m => m.ClaimFormNumber,
                            new { htmlAttributes = new { @class = "form-control form-control-lg", required = "required" } })
                        @Html.ValidationMessageFor(m => m.ClaimFormNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-lg-6">
                        <label class="fw-bold mb-2">
                            @T("CardNumber", "Card Number")
                        </label>
                        @Html.EditorFor(m => m.CardNumber,
                            new { htmlAttributes = new { @class = "form-control form-control-lg", required = "required" } })
                        @Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
                    </div>

                    @* Hidden fields (زي ما هم عندك بالظبط) *@
                    @Html.HiddenFor(m => m.EntryID)
                    @Html.HiddenFor(m => m.EntryDate)
                    @Html.HiddenFor(m => m.MemberClaimformStatus, new { @Value = 1 })
                    @Html.HiddenFor(m => m.ProviderCat)

                    <div class="col-12">
                        <label class="fw-bold mb-2">
                            @T("ClaimImage", "ClaimForm Image")
                        </label>
                        <input type="file"
                               name="imgfile"
                               class="form-control form-control-lg"
                               required />
                        @Html.ValidationMessageFor(m => m.ClaimFormImage, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="text-center mt-4">
                    <button type="submit"
                            class="btn btn-primary btn-lg px-5">
                        <i class="bi bi-upload"></i>
                        @T("Create", "Create")
                    </button>
                </div>

            </div>
        }

    </div>
</div>

@if (ViewBag.card_numberqq != null && ViewBag.card_numberqq != "")
{
    <script>
        $('#CardNumber').val("@ViewBag.card_numberqq");
    </script>
}

@if (ViewBag.ErorMessage != null)
{
    <script>
        Swal.fire("Error !","@ViewBag.ErorMessage","error");
    </script>
}


<script type="text/javascript">
    document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            //$.connection.hub.disconnect();
            // $.connection.hub.disconnected(function () {
            //});
            $.connection.hub.stop();

             //console.log("tab out")
            // tab is changed
        } else {
            //$.connection.hub.connect();
            $.connection.hub.start().done(function () {
                 //console.log("connection started")
                //notifications.onconn();
                getData();
                getData1();
            }).fail(function (e) {
                //console.log(e);
            });
            //console.log("tab in")

            // tab is active
        }
    });

    function sleep(ms) {
        return new Promise(
            resolve => setTimeout(resolve, ms)
        );


    }
    $(function () {
        // Proxy created on the fly
        var cus = $.connection.cusHub;
        //var cus1 = $.connection.cusHub1;
        //console.log(cus)
        // Declare a function on the job hub so the server can invoke it
        cus.client.displayCustomer = function () {
            // async function a() {
            getData();
            //   await sleep(2000);
            //  getData1();
            //}
            //a();

            //getData();
            //getData1();
        };
        cus.client.data = function () {
            //async function a() {
            //    getData();
            //    await sleep(2000);
            getData1();
            //}
            //a();

            //getData();
            //getData1();
        };

        cus.client.data1 = function () {
            getData2();
        };
        // Start the connection
        $.connection.hub.start();
        getData();
        getData1();
        getData2();
        //async function aa() {
        //    getData();
        //    await sleep(2000);
        //    getData1();
        //}
        //aa();


    });
    function getData1() {
        try {

        //var $tbl = $('#tblInfo');
        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Getmessages").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data1) {

                $.get("/ClaimForm/getcountmessage", {/* Provider_id: $('#providerID').val(), Branch_id: $('#BranchID').val()*/ }, function (data) {
                    setBadgeCount('MesaageCount', data);
                });


                $.each(data1.listCus, function (i, model) {

                });
            }
            });
        }
        catch (err) {
        }
    }

    function getData() {
        try {

        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Get").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data) {

                var provid = 0;
                var branchid = 0;
                if ("@Session["providerid"]" != "" &&"@Session["BranchID"]" != "") {
                     provid = parseInt("@Session["providerid"]");
                     branchid = parseInt("@Session["BranchID"]");
                }
                  var ApprovePage = 0;

                if ("@Session["ClaimForm_Approved"]" != "" ) {
                     ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                }
                //alert(provid);
                //alert(branchid);

                @*alert("@Session["providerid"]");
                alert(data.ProviderID);*@

                //$tbl.empty();
                $.get("/ClaimForm/getcountallert", {}, function (data1) {
                    setBadgeCount('NotifactionCount', data1);
                });

                $.each(data.listCus, function (i, model) {

                    //if ((provid == model.ProviderID) && (branchid == model.BranchID)) {
                    //}
                    if ((provid == model.ProviderID) && (branchid == model.BranchID) && (model.CardNumber != "0") && (model.ClaimFormNum != 0) && ($('#trigger').val() == "0") && (ApprovePage == 1) ) {
                        $('#trigger').val("1");

                        $.connection.hub.disconnected(function () {
                            setTimeout(function () {
                                $.connection.hub.start();
                            }, 5000); // Restart connection after 5 seconds.
                        });
                        $.get("/ClaimForm/DeactiveAlert", {}, function (data2) {

                        @*var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");
                        if (result == true) {
                                window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                        }
                        else {

                        }
                            $('#trigger').val("0");*@

                                    if ("@Session["ClaimForm_Approved"]"!="") {
                                    ClaimForm_Approv = parseInt("@Session["ClaimForm_Approved"]");
                                   if (ClaimForm_Approv == 1) {
                                       var sound = new Audio('/Media/alert.mp3');
                                       sound.play();
                                       setTimeout(function () {
                                           snackbar.classList.add('isShown');
                                           $('#CardNumbersnackbar').text(model.CardNumber)
                                           $('#Claimformsnackbar').text(model.ClaimFormNum)
                                           setTimeout(hideSnackbar, 5000);
                                    @*var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");
                                        if (result == true) {
                                                    window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                                       }
                                       else {

                                       }*@
                                       $('#trigger').val("0");
                                           setBadgeCount('NotifactionCount', data2);
                                       }, 100);
                                }
                                 }
                        })
                        //alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber +"\n Claim Form Is :"+model.ClaimFormNum);

                    }
                    //$tbl.append
                    //    (
                    //    '<tr>' +
                    //        '<td>' + model.ClaimFormNum + '</td>' +
                    //        '<td>' + model.CardNumber + '</td>' +
                    //        '<td>' + model.ProviderID + '</td>' +
                    //        '<td>' + model.BranchID + '</td>' +
                    //    '<tr>'
                    //    );
                });
            }
        });
    }
        catch (err) {
    }
    }
    function getData2() {
        try {

        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Get1").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data) {

                var provid = 0;
                var branchid = 0;
                if ("@Session["providerid"]" != "" &&"@Session["BranchID"]" != "") {
                     provid = parseInt("@Session["providerid"]");
                     branchid = parseInt("@Session["BranchID"]");
                }
                  var ApprovePage = 0;
                  var ApprovePage1 = 0;
                  var ApprovePage2 = 0;

                if ("@Session["ClaimForm_Approved"]" != ""||"@Session["Approval"]" != ""||"@Session["Doctor_ClaimForm"]" != "" ) {
                     ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                     ApprovePage1 = parseInt("@Session["Approval"]");
                     ApprovePage2 = parseInt("@Session["Doctor_ClaimForm"]");
                }

                $.get("/ClaimForm/getcountallertSmartCard", {}, function (data1) {
                    setBadgeCount('MemberSmartCardRequestsCount', data1);
                });
                $.each(data.listCus, function (i, model) {

                    //if ((provid == model.ProviderID) && (branchid == model.BranchID)) {
                    //}
                    if ((provid == model.ProviderID) && (branchid == model.BranchID) && (model.CardNumber != "0")  && ($('#trigger1').val() == "0") && (ApprovePage == 1||ApprovePage1 == 1||ApprovePage2 == 1)) {
                        $('#trigger1').val("1");
                        $.connection.hub.disconnected(function () {
                            setTimeout(function () {
                                $.connection.hub.start();
                            }, 5000); // Restart connection after 5 seconds.
                        });

                        $.get("/ClaimForm/DeactiveAlertSmartCard", {}, function (data2) {

                        //var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");

                            //if (result == true) {
                            var sound = new Audio('/Media/alert.mp3');
                            sound.play();
                            setTimeout(function () {
                                snackbarMember.classList.add('isShown');
                                $('#CardNumbersnackbarMember').text(model.CardNumber)
                                setTimeout(hideSnackbard1, 5000);
                           // alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum );
                               // window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                        //}
                        //else {

                        //}
                            $('#trigger1').val("0");
                                setBadgeCount('MemberSmartCardRequestsCount', data2);
                            }, 100);

                        })
                        //alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber +"\n Claim Form Is :"+model.ClaimFormNum);

                    }
                    //$tbl.append
                    //    (
                    //    '<tr>' +
                    //        '<td>' + model.ClaimFormNum + '</td>' +
                    //        '<td>' + model.CardNumber + '</td>' +
                    //        '<td>' + model.ProviderID + '</td>' +
                    //        '<td>' + model.BranchID + '</td>' +
                    //    '<tr>'
                    //    );
                });
            }
            });
        }
        catch (err) {
        }
    }
</script>


<script>


    function refresh() {

              $.ajax({
                        type: "POST",
                        url: "/ClaimForm/CheckIfSessionValid",
                        //data: JSON.stringify(Claims_Services),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            if (r == "False") {
                                window.open('@Url.Action("login", "ClaimForm")', '_self');
                            }
                            else {
                                setTimeout(refresh, 5000);
                                 }
                        }
        });

    }

    setTimeout(refresh, 1000);
</script>


