@model GuardianOnline.Infrastructure.ProviderUserData

@{
    ViewBag.Title = "AccountData";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";

    Func<string, string, string> T = (key, fallback) =>
    {
        try
        {
            var o = HttpContext.GetGlobalResourceObject("UserDatas", key);
            return (o == null) ? fallback : o.ToString();
        }
        catch { return fallback; }
    };
}

@* Keep jQuery (required for SignalR/Ajax). Do NOT include bootstrap bundle here to avoid conflict with Bootstrap 5 *@
@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>

@Html.Hidden("Get", Url.Action("Get", "Customer"))
@Html.Hidden("Getmessages", Url.Action("Getmessages", "Customer"))
@Html.Hidden("Get1", Url.Action("Get1", "Customer"))

<input type="hidden" id="trigger" value="0" />
<input type="hidden" id="trigger1" value="0" />
<input type="hidden" id="triggercount1" value="0" />

<div class="ua-page">

    <div class="ua-header">
        <div>
            <div class="ua-title">@T("Account_Title", "User Account")</div>
            <div class="ua-sub">@T("Account_SubTitle", "Manage your account information")</div>
        </div>

        <a class="btn btn-outline-secondary ua-back" href="@Url.Action("DoctorHome","ClaimForm")">
            <i class="bi bi-arrow-left"></i>
            <span>@T("Btn_BackHome", "Back to Home")</span>
        </a>
    </div>

    <div class="card ua-card">
        <div class="card-body">
            <div class="ua-section-title">@T("Section_AccountData", "Account Data")</div>

            @using (Html.BeginForm("AccountData", "UserDatas", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserID)

                <div class="row g-3">

                    <div class="col-12 col-md-6">
                        <label class="form-label ua-label" for="User_Name">@T("Field_UserName", "Username")</label>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "User_Name" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label ua-label" for="User_Password">@T("Field_Password", "Password")</label>
                        @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control", @id = "User_Password" })
                        @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label ua-label" for="confUser_Password">@T("Field_ConfirmPassword", "Confirm Password")</label>
                        @Html.PasswordFor(model => model.confUserPassword, new { @class = "form-control", @id = "confUser_Password" })
                        @Html.ValidationMessageFor(model => model.confUserPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label ua-label" for="First_Name">@T("Field_FirstName", "First Name")</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @id = "First_Name" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label ua-label" for="Last_Name">@T("Field_LastName", "Last Name")</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @id = "Last_Name" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label ua-label" for="User_Email">@T("Field_Email", "Email")</label>
                        @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @id = "User_Email" } })
                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12">
                        <label class="form-label ua-label" for="imgfile">@T("Field_UserImage", "User Image")</label>
                        <input type="file" id="imgfile" name="imgfile" class="form-control" />
                        @Html.ValidationMessageFor(model => model.UserImage, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-12" hidden>
                        @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "form-label ua-label" })
                        <div class="form-check">
                            @Html.EditorFor(model => model.IsAdmin)
                            @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary ua-save">
                            <i class="bi bi-check2-circle"></i>
                            <span>@T("Btn_Save", "Save")</span>
                        </button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

@* error messages *@
@if (ViewBag.ErorMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire("@T("Msg_ErrorTitle","Error!")", "@ViewBag.ErorMessage", "error");
        };
    </script>
}

<script type="text/javascript">
    document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            $.connection.hub.stop();
        } else {
            $.connection.hub.start().done(function () {
                getData();
                getData1();
            }).fail(function (e) { });
        }
    });

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    $(function () {
        var cus = $.connection.cusHub;

        cus.client.displayCustomer = function () { getData(); };
        cus.client.data = function () { getData1(); };
        cus.client.data1 = function () { getData2(); };

        $.connection.hub.start();
        getData();
        getData1();
        getData2();
    });

    function getData1() {
        try {
            $.ajax({
                url: $("#Getmessages").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data1) {
                    $.get("/ClaimForm/getcountmessage", {}, function (data) {
                        setBadgeCount('MesaageCount', data);
                    });
                    $.each(data1.listCus, function (i, model) { });
                }
            });
        } catch (err) { }
    }

    function getData() {
        try {
            $.ajax({
                url: $("#Get").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    var provid = 0;
                    var branchid = 0;
                    if ("@Session["providerid"]" != "" && "@Session["BranchID"]" != "") {
                        provid = parseInt("@Session["providerid"]");
                        branchid = parseInt("@Session["BranchID"]");
                    }

                    var ApprovePage = 0;
                    if ("@Session["ClaimForm_Approved"]" != "") {
                        ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                    }

                    $.get("/ClaimForm/getcountallert", {}, function (data1) {
                        setBadgeCount('NotifactionCount', data1);
                    });

                    $.each(data.listCus, function (i, model) {
                        if ((provid == model.ProviderID) && (branchid == model.BranchID) &&
                            (model.CardNumber != "0") && (model.ClaimFormNum != 0) &&
                            ($('#trigger').val() == "0") && (ApprovePage == 1)) {

                            $('#trigger').val("1");

                            $.connection.hub.disconnected(function () {
                                setTimeout(function () { $.connection.hub.start(); }, 5000);
                            });

                            $.get("/ClaimForm/DeactiveAlert", {}, function (data2) {
                                if ("@Session["ClaimForm_Approved"]" != "") {
                                    ClaimForm_Approv = parseInt("@Session["ClaimForm_Approved"]");
                                    if (ClaimForm_Approv == 1) {
                                        var sound = new Audio('/Media/alert.mp3');
                                        sound.autoplay = true;
                                        sound.muted = false;
                                        sound.play();

                                        setTimeout(function () {
                                            snackbar.classList.add('isShown');
                                            $('#CardNumbersnackbar').text(model.CardNumber)
                                            $('#Claimformsnackbar').text(model.ClaimFormNum)
                                            setTimeout(hideSnackbar, 5000);

                                            $('#trigger').val("0");

                                            setBadgeCount('NotifactionCount', data2);
                                        }, 100);
                                    }
                                }
                            });
                        }
                    });
                }
            });
        } catch (err) { }
    }

    function getData2() {
        try {
            $.ajax({
                url: $("#Get1").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    var provid = 0;
                    var branchid = 0;
                    if ("@Session["providerid"]" != "" && "@Session["BranchID"]" != "") {
                        provid = parseInt("@Session["providerid"]");
                        branchid = parseInt("@Session["BranchID"]");
                    }

                    var ApprovePage = 0;
                    var ApprovePage1 = 0;
                    var ApprovePage2 = 0;

                    if ("@Session["ClaimForm_Approved"]" != "" || "@Session["Approval"]" != "" || "@Session["Doctor_ClaimForm"]" != "") {
                        ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                        ApprovePage1 = parseInt("@Session["Approval"]");
                        ApprovePage2 = parseInt("@Session["Doctor_ClaimForm"]");
                    }

                    $.get("/ClaimForm/getcountallertSmartCard", {}, function (data1) {
                        setBadgeCount('MemberSmartCardRequestsCount', data1);
                    });

                    $.each(data.listCus, function (i, model) {
                        if ((provid == model.ProviderID) && (branchid == model.BranchID) &&
                            (model.CardNumber != "0") && ($('#trigger1').val() == "0") &&
                            (ApprovePage == 1 || ApprovePage1 == 1 || ApprovePage2 == 1)) {

                            $('#trigger1').val("1");

                            $.connection.hub.disconnected(function () {
                                setTimeout(function () { $.connection.hub.start(); }, 5000);
                            });

                            $.get("/ClaimForm/DeactiveAlertSmartCard", {}, function (data2) {
                                var sound = new Audio('/Media/alert.mp3');
                                sound.play();

                                setTimeout(function () {
                                    snackbarMember.classList.add('isShown');
                                    $('#CardNumbersnackbarMember').text(model.CardNumber)
                                    setTimeout(hideSnackbard1, 5000);

                                    $('#trigger1').val("0");

                                    setBadgeCount('MemberSmartCardRequestsCount', data2);
                                }, 100);
                            });
                        }
                    });
                }
            });
        } catch (err) { }
    }
</script>

<script>
    function refresh() {
        $.ajax({
            type: "POST",
            url: "/ClaimForm/CheckIfSessionValid",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r == "False") {
                    window.open('@Url.Action("login", "ClaimForm")', '_self');
                } else {
                    setTimeout(refresh, 5000);
                }
            }
        });
    }
    setTimeout(refresh, 1000);
</script>