@model GuardianOnline.Infrastructure.ProviderUserData

@{
    ViewBag.Title = "AccountData";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs" type="text/javascript"></script>
@Html.Hidden("Get", Url.Action("Get", "Customer"))
@Html.Hidden("Getmessages", Url.Action("Getmessages", "Customer"))
@Html.Hidden("Get1", Url.Action("Get1", "Customer"))

<input type="hidden" id="trigger" value="0" />
<input type="hidden" id="trigger1" value="0" />
<input type="hidden" id="triggercount1" value="0" />

<style>
    #branch_Names, #User_Name, #First_Name, #Last_Name, #User_Email, #User_Password, #confUser_Password, #imgfile {
        font-size: 17px;
        color: black;
    }

    #branch_Nameslabel, #User_Namelabel, #First_Namelabel, #Last_Namelabel, #User_Emaillabel, #User_Passwordlabel, #confUser_Passwordlabel, #imgfilelabel {
        font-size: 18px;
        /*color: black;*/
    }

    #Passwordd {
        /*max-width: 550px;*/
        /*resize:550;*/
        width: 200px;
    }

    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 5px 5px 5px 5px #700c0c;
        box-shadow: 5px 5px 5px 5px #700c0c;
    }
</style>
<style>

    #link {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        #link:hover {
            background-color: #ddd;
            color: black;
        }

    .previous {
        background-color: #f1f1f1;
        color: black;
    }

        .previous:hover {
            background-color: #ddd;
            color: black;
        }

    .next {
        background-color: #04AA6D;
        color: white;
    }

    .round {
        background-color: teal;
        color: white;
        border-radius: 50%;
    }
</style>
<h2 style="color:teal;text-align:center">User Account</h2>
<fieldset class="scheduler-border">
    <legend class="scheduler-border" style="color:teal">Account Data</legend>

    @using (Html.BeginForm("AccountData", "UserDatas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserID)


            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3", @id = "User_Namelabel" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "User_Name" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-3", @id = "User_Passwordlabel" })
                <div class="col-md-9">
                    @Html.PasswordFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @id = "User_Password" } })
                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.confUserPassword, htmlAttributes: new { @class = "control-label col-md-3", @id = "confUser_Passwordlabel" })
                <div class="col-md-9">
                    @Html.PasswordFor(model => model.confUserPassword, new { htmlAttributes = new { @class = "form-control", @id = "confUser_Password" } })
                    @Html.ValidationMessageFor(model => model.confUserPassword, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-3", @id = "First_Namelabel" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @id = "First_Name" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-3", @id = "Last_Namelabel" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @id = "Last_Name" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-3", @id = "User_Emaillabel" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @id = "User_Email" } })
                    @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("User Image", htmlAttributes: new { @class = "control-label col-md-3", @id = "imgfilelabel" })
                <div class="col-md-9">
                    <input type="file" id="imgfile" name="imgfile" class="form-control icon-file_upload" />
                    @Html.ValidationMessageFor(model => model.UserImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" hidden>
                @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsAdmin)
                        @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9" style="text-align:center">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block" />
                </div>
            </div>
        </div>
    }
    <div>
        <a id="link" class="round" href="@Url.Action("DoctorHome","ClaimForm")">@*<u>*@&laquo; Back to Main List@*</u>*@</a>
        @*<a href="@Url.Action("DoctorHome","ClaimForm")"><u>&laquo; Back to Main List</u></a>*@
    </div>
</fieldset>


@*eror messages*@
@if (ViewBag.ErorMessage != null)
{
    <script type="text/javascript">

        window.onload = function () {
            Swal.fire("Error !", "@ViewBag.ErorMessage", "error");

                //alert("@ViewBag.ErorMessage");
            };
    </script>
}



<script type="text/javascript">
    document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            //$.connection.hub.disconnect();
            // $.connection.hub.disconnected(function () {
            //});
            $.connection.hub.stop();

             //console.log("tab out")
            // tab is changed
        } else {
            //$.connection.hub.connect();
            $.connection.hub.start().done(function () {
                 //console.log("connection started")
                //notifications.onconn();
                getData();
                getData1();
            }).fail(function (e) {
                //console.log(e);
            });
            //console.log("tab in")

            // tab is active
        }
    });

    function sleep(ms) {
        return new Promise(
            resolve => setTimeout(resolve, ms)
        );
    }
    $(function () {

        // Proxy created on the fly
        var cus = $.connection.cusHub;
        //var cus1 = $.connection.cusHub1;
        //console.log(cus)
        // Declare a function on the job hub so the server can invoke it
        cus.client.displayCustomer = function () {
            // async function a() {
            getData();
            //   await sleep(2000);
            //  getData1();
            //}
            //a();

            //getData();
            //getData1();
        };
        cus.client.data = function () {
            //async function a() {
            //    getData();
            //    await sleep(2000);
            getData1();
            //}
            //a();

            //getData();
            //getData1();
        };

        cus.client.data1 = function () {
            getData2();
        };
        // Start the connection
        $.connection.hub.start();
        getData();
        getData1();
        getData2();
        //async function aa() {
        //    getData();
        //    await sleep(2000);
        //    getData1();
        //}
        //aa();

    });
    function getData1() {
        try {

        //var $tbl = $('#tblInfo');
        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Getmessages").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data1) {

                $.get("/ClaimForm/getcountmessage", {/* Provider_id: $('#providerID').val(), Branch_id: $('#BranchID').val()*/ }, function (data) {
                    if (data == 0) {
                        $('#MesaageCount').removeAttr("data-count");

                    }
                    else {
                        $('#MesaageCount').attr("data-count", data);
                    }
                    // console.log(data);
                });


                $.each(data1.listCus, function (i, model) {

                });
            }
            });
        }
        catch (err) {
        }
    }

    function getData() {
        try {

        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Get").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data) {

                var provid = 0;
                var branchid = 0;
                if ("@Session["providerid"]" != "" &&"@Session["BranchID"]" != "") {
                     provid = parseInt("@Session["providerid"]");
                     branchid = parseInt("@Session["BranchID"]");
                }
                  var ApprovePage = 0;

                if ("@Session["ClaimForm_Approved"]" != "" ) {
                     ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                }
                //alert(provid);
                //alert(branchid);

                @*alert("@Session["providerid"]");
                alert(data.ProviderID);*@

                //$tbl.empty();
                $.get("/ClaimForm/getcountallert", {}, function (data1) {
                    if (data1 == 0) {
                        $('#NotifactionCount').removeAttr("data-count");

                    }
                    else {
                        $('#NotifactionCount').attr("data-count", data1);
                    }
                });

                $.each(data.listCus, function (i, model) {

                    //if ((provid == model.ProviderID) && (branchid == model.BranchID)) {
                    //}
                    if ((provid == model.ProviderID) && (branchid == model.BranchID) && (model.CardNumber != "0") && (model.ClaimFormNum != 0) && ($('#trigger').val() == "0") && (ApprovePage == 1)) {
                        $('#trigger').val("1");

                        $.connection.hub.disconnected(function () {
                            setTimeout(function () {
                                $.connection.hub.start();
                            }, 5000); // Restart connection after 5 seconds.
                        });
                        $.get("/ClaimForm/DeactiveAlert", {}, function (data2) {

                               if ("@Session["ClaimForm_Approved"]"!="") {
                                    ClaimForm_Approv = parseInt("@Session["ClaimForm_Approved"]");
                                   if (ClaimForm_Approv == 1) {
                                       var sound = new Audio('/Media/alert.mp3');
                                       sound.autoplay = true;
                                       sound.muted = false;
                                       sound.play();
                                       setTimeout(function () {
                                           snackbar.classList.add('isShown');
                                           $('#CardNumbersnackbar').text(model.CardNumber)
                                           $('#Claimformsnackbar').text(model.ClaimFormNum)
                                           setTimeout(hideSnackbar, 5000);
                                    @*var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");
                                        if (result == true) {
                                                    window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                                       }
                                       else {

                                       }*@
                                       $('#trigger').val("0");
                                           if (data2 == 0) {
                                           $('#NotifactionCount').removeAttr("data-count");

                                       }
                                       else {
                                               $('#NotifactionCount').attr("data-count", data2);
                                       }
                                }, 100);
                                }
                                 }

                        })
                        //alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber +"\n Claim Form Is :"+model.ClaimFormNum);

                    }
                    //$tbl.append
                    //    (
                    //    '<tr>' +
                    //        '<td>' + model.ClaimFormNum + '</td>' +
                    //        '<td>' + model.CardNumber + '</td>' +
                    //        '<td>' + model.ProviderID + '</td>' +
                    //        '<td>' + model.BranchID + '</td>' +
                    //    '<tr>'
                    //    );
                });
            }
            });
        }
        catch (err) {
        }
    }
    function getData2() {
        try {

        $.ajax({
            url: /*"/Customer/Send_to_payy"*/ $("#Get1").val(),
            type: 'GET',
            datatype: 'json',
            success: function (data) {

                var provid = 0;
                var branchid = 0;
                if ("@Session["providerid"]" != "" &&"@Session["BranchID"]" != "") {
                     provid = parseInt("@Session["providerid"]");
                     branchid = parseInt("@Session["BranchID"]");
                }
                  var ApprovePage = 0;
                  var ApprovePage1 = 0;
                  var ApprovePage2 = 0;

                if ("@Session["ClaimForm_Approved"]" != ""||"@Session["Approval"]" != ""||"@Session["Doctor_ClaimForm"]" != "" ) {
                     ApprovePage = parseInt("@Session["ClaimForm_Approved"]");
                     ApprovePage1 = parseInt("@Session["Approval"]");
                     ApprovePage2 = parseInt("@Session["Doctor_ClaimForm"]");
                }

                $.get("/ClaimForm/getcountallertSmartCard", {}, function (data1) {
                    if (data1 == 0) {
                        $('#MemberSmartCardRequestsCount').removeAttr("data-count");

                    }
                    else {
                        $('#MemberSmartCardRequestsCount').attr("data-count", data1);
                    }
                });
                $.each(data.listCus, function (i, model) {

                    //if ((provid == model.ProviderID) && (branchid == model.BranchID)) {
                    //}
                    if ((provid == model.ProviderID) && (branchid == model.BranchID) && (model.CardNumber != "0")  && ($('#trigger1').val() == "0") && (ApprovePage == 1||ApprovePage1 == 1||ApprovePage2 == 1)) {
                        $('#trigger1').val("1");
                        $.connection.hub.disconnected(function () {
                            setTimeout(function () {
                                $.connection.hub.start();
                            }, 5000); // Restart connection after 5 seconds.
                        });
                      
                        $.get("/ClaimForm/DeactiveAlertSmartCard", {}, function (data2) {

                        //var result = confirm("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum + " \n Are you Sure you want to Go ClaimForm Approved ?");

                            //if (result == true) {
                            var sound = new Audio('/Media/alert.mp3');
                            sound.play();
                            setTimeout(function () {
                                snackbarMember.classList.add('isShown');
                                $('#CardNumbersnackbarMember').text(model.CardNumber)
                                setTimeout(hideSnackbard1, 5000);
                           // alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber + "\n Claim Form Is :" + model.ClaimFormNum );
                               // window.open('@Url.Action("ProviderClaimFormApproved", "ClaimForm")', '_self');
                        //}
                        //else {

                        //}
                            $('#trigger1').val("0");
                                if (data2 == 0) {
                                $('#MemberSmartCardRequestsCount').removeAttr("data-count");

                            }
                            else {
                                    $('#MemberSmartCardRequestsCount').attr("data-count", data2);
                                }
                            }, 100);

                        })
                        //alert("You Currently Reiceve Approval From CMC \n For Card Number is : " + model.CardNumber +"\n Claim Form Is :"+model.ClaimFormNum);

                    }
                    //$tbl.append
                    //    (
                    //    '<tr>' +
                    //        '<td>' + model.ClaimFormNum + '</td>' +
                    //        '<td>' + model.CardNumber + '</td>' +
                    //        '<td>' + model.ProviderID + '</td>' +
                    //        '<td>' + model.BranchID + '</td>' +
                    //    '<tr>'
                    //    );
                });
            }
            });
        }
        catch (err) {
        }
    }
</script>

<script>


    function refresh() {

              $.ajax({
                        type: "POST",
                        url: "/ClaimForm/CheckIfSessionValid",
                        //data: JSON.stringify(Claims_Services),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            if (r == "False") {
                                window.open('@Url.Action("login", "ClaimForm")', '_self');
                            }
                            else {
                                setTimeout(refresh, 5000);
                                 }
                        }
        });

    }

    setTimeout(refresh, 1000);
</script>



@*<script type="text/javascript">
        $(function () {

            // Proxy created on the fly
            var cus = $.connection.cusHub;

            // Declare a function on the job hub so the server can invoke it
            cus.client.displayCustomer = function () {
                getData1();
            };

            // Start the connection
            $.connection.hub.start();
            getData1();
        });

        function getData1() {
            //var $tbl = $('#tblInfo');
            $.ajax({
                url: /*"/Customer/Send_to_payy"*/ $("#Getmessages").val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    $.get("/ClaimForm/getcountmessage", {/* Provider_id: $('#providerID').val(), Branch_id: $('#BranchID').val()*/ }, function (data) {
                        if (data == 0) {
                            $('#MesaageCount').removeAttr("data-count");

                        }
                        else {
                            $('#MesaageCount').attr("data-count", data);
                        }
                        // console.log(data);
                    });


                    $.each(data.listCus, function (i, model) {

                    });
                }
            });
        }

    </script>*@
